<br><br>Task:
<input type="text" [(ngModel)]='addTask' placeholder="Add your Task">
<button (click)="SayHello()">Add Task</button>
<br>
<h3>Pending</h3>
<ol>
  <li *ngFor="let t of myTask; let currentTask = index">
    {{t | lowercase}} &nbsp;
    <button (click)="taskDone(currentTask)">Done</button>
    <br><br>
   </li>
</ol>

<h3>My Completed Task List:</h3>
<ol>
  <li *ngFor="let m of myCompletedTask">
    {{m}} &nbsp;
    <br><br>
  </li>
</ol>
<hr>
Currency  Pipe  :  {{salary | currency:''}}
<br>
Date  : {{ myDate }}
<br>
Date Pipe : {{myDate | date:'MM/dd/yy'}}
<br>
String Sort Pipe: {{name | stringSortPipe}}